*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; padding: 0; box-sizing: border-box;
}

.enterUserName{
    font-size: 20px;
}
.enterBtn{
    position: fixed;
    top: 0;
    padding: 4px;
}
.chat-container{
    margin-top: 15px;
    padding: 0 10px;
    height: 80vh;
    overflow-y: scroll;
}
.container{
    display: flex;
}
.container.me{
    flex-direction: row-reverse;
}
.me .chatBox{
    background-color: rgb(123, 123, 237); color: white;
    border-radius: 15px 15px 0 15px;
}
.chatBox{
    background-color: rgba(235, 233, 232, 0.729); border-radius: 15px 15px 15px 0px; 
     padding: 15px;
     margin-bottom: 10px;
}
.chatBox strong{
    display: block;
    margin: 2px 0;
}

.btm{
    position: fixed; 
    bottom: 0px;
    width: 100%; 
    display: flex; flex-direction: row;
    padding: 0 15px;
}
.btm input{
    background-color: black; color: silver; border-radius: 5px 5px 20px 20px;
    font-size: 16px;
    padding: 15px 5px;
    flex-grow: 1;
    outline: none;
}
.sendIcon{
    position: absolute;
    right: 25px;
    top: 14px;
    color: rgb(209, 207, 207);
    font-size: 16px;
    cursor: pointer;
}
